{% extends 'base.html' %}
{% load static %}
{% block title %}Index{% endblock %}

{% block content %}
    <div class="min-vh-100">
         <div class="container" style="margin-top: 40px;">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab"
                                                                href="#tab-1">Socket</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                                                                href="#tab-2">Host</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <form style="margin-top: 32px;" id="socket-form" method="post">
                            {% csrf_token %}
                            <h1 style="margin-left: 32px;font-size: 48px;">Create Host</h1>
                            <div class="container" style="margin-top: 16px;">
                                <div class="row">
                                    <div class="col-md-3"><label for="id_port" class="form-label">Port</label>{{ socket.port }}</div>
                                    <div class="col-md-3"><label for="id_socket_name" class="form-label">Name</label>{{ socket.socket_name }}</div>
                                    <div class="col-md-3"><label for="id_socket_description" class="form-label">Description</label>{{ socket.socket_description }}</div>
                                    <div class="col-md-3">
                                        <select style="margin-top: 16px;" id="selector" name="selector">
                                            {% for obj in hosts %}
                                                <option value="{{ obj.id }}" class="form-control">{{ obj.hostname }}</option>
                                            {%  endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3"><input type="hidden" id="form_type" name="form_type" value="socket-form"></div>
                                </div>
                            </div>
                        </form>
                        <button style="margin-left: 32px; margin-top: 32px;" class="btn btn-primary" type="submit" form="socket-form" value="Submit">Submit</button>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <form style="margin-top: 32px;" id="host-form" method="post">
                            {% csrf_token %}
                            <h1 style="margin-left: 32px;font-size: 48px;">Create Host</h1>
                            <div class="container" style="margin-top: 16px;">
                                <div class="row">
                                    <div class="col-md-3"><label for="id_hostname" class="form-label">Hostname</label>{{ host.hostname }}</div>
                                    <div class="col-md-3"><label for="id_ip" class="form-label">IP</label>{{ host.ip }}</div>
                                    <div class="col-md-3"><input type="hidden" id="form_type" name="form_type" value="host-form"></div>
                                </div>
                            </div>
                        </form>
                        <button style="margin-left: 32px; margin-top: 32px;" class="btn btn-primary" type="submit" form="host-form" value="Submit">Submit</button>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endblock %}
