{% extends 'base.html' %}
{% load static %}
{% block title %}Index{% endblock %}

{% block content %}
    <div class="min-vh-100">
         <div class="container" style="margin-top: 40px;">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab"
                                                                href="#tab-1">Socket</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                                                                href="#tab-2">Host</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="table-responsive" style="margin-top: 16px;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>Port</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for obj in sockets %}
                                    <tr>
                                        <td>{{ obj.id_host }}</td>
                                        <td>{{ obj.port }}</td>
                                        <td>{{ obj.socket_name }}</td>
                                        <td>{{ obj.socket_description }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="table-responsive" style="margin-top: 16px;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Hostname</th>
                                    <th>Port</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for obj in hosts %}
                                    <tr>
                                        <td>{{ obj.hostname }}</td>
                                        <td>{{ obj.ip }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endblock %}
